# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
import pandas as pd
chipo = pd.read_csv(r"https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv",sep = "\t")

### Step 4. See the first 10 entries

In [3]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [4]:
# Solution 1
print("The total number of observation : {}".format(len(chipo)))

The total number of observation : 4622

In [5]:
# Solution 2
a = chipo.shape
print("The total number of observation : {}".format(a[0]))

The total number of observation : 4622

### Step 6. What is the number of columns in the dataset?

In [6]:
print("The total number of columns : {}".format(a[1]))

The total number of columns : 5

### Step 7. Print the name of all the columns.

In [7]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [8]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [9]:
chipo1 = chipo[["item_name","quantity"]].groupby(["item_name"],as_index = False).sum()
chipo1[chipo1["quantity"] == chipo1["quantity"].max()]

       item_name  quantity
17  Chicken Bowl       761

### Step 10. For the most-ordered item, how many items were ordered?

In [10]:
count_chicken_bowl = len(chipo[chipo["item_name"] == "Chicken Bowl"])
print("The no. of times the most ordered item ordered : {}".format(count_chicken_bowl))

The no. of times the most ordered item ordered : 726

### Step 11. What was the most ordered item in the choice_description column?

In [22]:
chipo2 = chipo[["choice_description","quantity"]].groupby(["choice_description"],as_index = False).sum()
most_no = chipo2[chipo2["quantity"] == chipo2["quantity"].max()]
print("The no. of times the most ordered item in choice description : {}".format(most_no))

The no. of times the most ordered item in choice description :    choice_description  quantity
15        [Diet Coke]       159

### Step 12. How many items were orderd in total?

In [12]:
len(chipo1)

50

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [13]:
print("The data type of item_price with dollar : {}".format(type(chipo["item_price"])))

The data type of item_price with dollar : <class 'pandas.core.series.Series'>

#### Step 13.b. Create a lambda function and change the type of item price

In [23]:
import pandas as pd
chipo = pd.read_csv(r"https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv",sep = "\t")
sp_price = chipo["item_price"].str.split("$",expand = True)
chipo[["d","item_price"]] = sp_price
chipo3 = chipo.drop(["d"],axis = "columns")
chipo3["item_price"] = chipo3["item_price"].astype(float)
print("The type of item price is now :{}".format(chipo3["item_price"].dtype))


# import pandas as pd
# tbl3 = pd.read_csv('data/table3.csv')
# split_tbl3 = tbl3['rate'].str.split('/',expand = True)
# tbl3[['r', 'population']] = split_tbl3
# tbl3_droped = tbl3.drop(['r'], axis='columns')

The type of item price is now :float64

#### Step 13.c. Check the item price type

In [15]:
print("The type of item price is now :{}".format(chipo3["item_price"].dtype))

The type of item price is now :float64

### Step 14. How much was the revenue for the period in the dataset?

In [16]:
print("The total revenue for the period in the datasheet is: {}".format(chipo3["item_price"].sum()))

The total revenue for the period in the datasheet is: 34500.16

### Step 15. How many orders were made in the period?

In [17]:
print("The total no of orders made in period are: {}".format(len(chipo)))

The total no of orders made in period are: 4622

### Step 16. What is the average revenue amount per order?

In [18]:
# Solution 1
print("The average revenue per order is: {}".format((chipo3["item_price"].sum())/(len(chipo3))))

The average revenue per order is: 7.464335785374297

In [19]:
# Solution 2

### Step 17. How many different items are sold?

In [20]:
print("The total no of different items ordered are: {}".format(len(chipo1)))

The total no of different items ordered are: 50

In [2]:
# For RSNA

In [4]:
import pandas as pd

In [7]:
rsna = pd.read_csv(r"C:\\Users\\Deepak\\Desktop\\RSNA_COVID19\\final_train.csv")

In [8]:
rsna.head()

           filename                     class
0  335bfcc61a2a.jpg        Typical Appearance
1  852297c9ca63.jpg        Typical Appearance
2  fd46baeed64d.jpg        Typical Appearance
3  5ce2be1781f6.jpg  Indeterminate Appearance
4  8061563f9228.jpg        Typical Appearance

In [17]:
classes = set(rsna["class"].to_list())
print(classes)

{'Typical Appearance', 'Indeterminate Appearance', 'Negative for Pneumonia', 'Atypical Appearance'}

In [18]:
rsna1 = rsna[rsna["class"] == "Typical Appearance"]
len(rsna1)

3007

In [19]:
rsna2 = rsna[rsna["class"] == "Indeterminate Appearance"]
len(rsna2)

1108

In [20]:
rsna3 = rsna[rsna["class"] == "Negative for Pneumonia"]
len(rsna3)

1736

In [21]:
rsna4 = rsna[rsna["class"] == "Atypical Appearance"]
len(rsna4)

483

In [22]:
len(rsna)

6334

In [1]:
imgs_paths = sorted([os.path.abspath(os.path.join('/home/antpc/Desktop/COVID_RSNA/siim-covid19-detection/rsna_dataset_in_jpg/seperate_classes/Indeterminate', p)) 
									for p in os.listdir('/home/antpc/Desktop/COVID_RSNA/siim-covid19-detection/rsna_dataset_in_jpg/seperate_classes/Indeterminate')])
li = l- len(imgs_paths)
i = 0
final_path = "/home/antpc/Desktop/COVID_RSNA/siim-covid19-detection/rsna_dataset_in_jpg/seperate_classes/Indeterminate_final/"
while i<li:
	img_path = random.choice(imgs_paths)
	img = cv.imread(img_path)
	number = random.randint(1,3)
    if number == 1:
        image= rotate_images(img)
		cv.imwrite(final_path + img_path[:-4].split('/')[-1]+"_rot_"+str(i)+".jpg",image)
            
    if number == 2:
        image= flip(img)
		cv.imwrite(final_path + img_path[:-4].split('/')[-1]+"_flip_"+str(i)+".jpg",image)
                
    if number ==3:
        image= translation(img)
		cv.imwrite(final_path + img_path[:-4].split('/')[-1]+"_translation_"+str(i)+".jpg",image)
	i += 1

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 11)